<div id="public-trips">
  <h2>Public Trips</h2>
  {{#if loggedIn}}
    {{#each trips}}
      <a href="/trips/{{tripid}}" class="trip">
        <card>
          <h3>{{destination}}</h3>
          <p>{{description}}</p>
          <p>{{stayLength}} days</p>
          <p>{{departureDate}}</p>
        </card>
      </a>
    {{else}}
      <p>No public trips available.</p>
    {{/each}}
  {{else}}
    <p>Please log in to view public trips.</p>
  {{/if}}
</div>