<div id="single-trip">
  <h2>Trip Details</h2>
  {{#if loggedIn}}
    {{#each trip}}
      <div class="trip">
      <section class="user-details">
      <h2>User Details</h2>
      <p>Name: {{ user.name }}</p>
      <p>Email: {{ user.email }}</p>
      <!-- Add more user details as needed -->
    </section>
      <section class="trip-details">
      <h2>Trip Details</h2>
      <p>Title: {{ trip.title }}</p>
      <p>Date: {{ trip.date }}</p>
      <!-- Add more trip details as needed -->
    </section>
       <section class="area-details">
      <h2>Area</h2>
      <p>Name: {{ area.name }}</p>
      <p>Location: {{ area.location }}</p>
      <!-- Add more area details as needed -->
    </section>
    <section class="activities">
      <h2>Activities Done</h2>
      <ul>
        {{#each activities}}
          <li>{{ this }}</li>
        {{/each}}
      </ul>
    </section>
      </div>
    {{else}}
      <p>No single trip available.</p>
    {{/each}}
  {{else}}
    <p>Please log in to view single trip.</p>
  {{/if}}
</div>
