<div id="single-trip">
  <h2>Trip Details</h2>
  {{#if loggedIn}}
      <div class="trip">
        <section class="user-details">
          <h2>User Details</h2>
          <p>Userame: {{ user.username }}</p>
        </section>
        <section class="trip-details">
          <h2>Trip Details</h2>
          <p>Destination: {{ Trip.destination }}</p>
          <p>Departure Date: {{ Trip.departureDate }}</p>
          <p>Length Of Stay: {{ Trip.stayLength }}</p>
        </section>
        <section class="description-details">
          <h2>Description</h2>
          <p>Trip Description: {{ Trip.description }}</p>
        </section>
        
        <!-- Comments section -->
        <section class="comments">
          <h2>Comments</h2>
          <!-- Display existing comments -->
          <ul class="existing-comments">
            {{#each comments}}
              <li>{{ this }}</li>
            {{/each}}
          </ul>
          <!-- Add new comment form -->
          <form id="add-comment-form">
            <label for="comment">Add Comment:</label><br>
            <textarea id="comment" name="comment" rows="4" cols="50"></textarea><br>
            <button type="submit">Submit</button>
          </form>
        </section>
      </div>
  {{else}}
    <p>Please log in to view single trip.</p>
  {{/if}}
</div>