<div id="trip-info">
  <h2>{{username}}'s' Trips</h2>
  {{#if loggedIn}}
  {{#each trips as |trip|}}
  <div class="tab-content">
    <card>
      <h3>Destination: {{destination}}</h3>
      <p>Length of Stay: {{stayLength}} days</p>
      <p>Departure Date: {{ departureDate }}</p>
      <p>Accommodation: {{ accommodation }}</p>
    </card>
  </div>
  {{/each}}
  {{else}}
  <p>No trips available.</p>
  {{/if}}
</div>